#calculator{
    border: 1px solid black;
    width: 500px;
    height: 380px;
    margin: 0 auto;
}
#screen-input{
    font-size: 4em;
    display: block;
    margin: 0 auto;
    border: 3px solid blue;
    height: fit-content;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#calc-buttons{
   text-align: center;
}
#calc-buttons button{
    width: 100px;
    height: 50px;
    padding: 20px;
    margin: 5px;
    font-size: 1.3em;

}

#add,#sub,#mul,#div{
background-color: blue;
color: white;
}

#equal{
    background-color: rgb(19, 222, 67);
    color: white;
    }